{% extends 'CittandoSiteBundle::layout.html.twig' %}

{% block container %}
    <div class="container">
        <div class="row">
            <div class="main-header">
                {% block headerMenu %} {{ parent() }} {% endblock %}
            </div>
        </div>
{% block fos_user_content %}
    <div class="row-fluid">
	{% if error %}
	    <div class="alert alert-error">{{ error|trans({}, 'FOSUserBundle') }}</div>
	{% endif %}

	<div class="content-box">
            <div class="header">
                <div class="title">User Login</div>
            </div>
            <div class="login-form">
                <form class="form-horizontal" action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{% render('CittandoSiteBundle:Default:getToken') %}" />
                    <div class="control-group">
                        <label class="control-label" for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                        <div class="controls">
                            <input type="text" id="username" name="_username" value="{{ last_username }}" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                        <div class="controls">
                            <input type="password" id="password" name="_password" />
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">                                
                            <label class="checkbox" for="remember_me"><input type="checkbox" id="remember_me" name="_remember_me" value="on" />{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                        </div>
                    </div>
                    <div class="controls">
                        <input type="submit" id="_submit" class="btn btn-primary" name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />
                    </div>
                </form>
            </div>
            <div class="login-text">
                <h1>Welcome</h1>
                <p class="description">Morbi ac vulputate nisi. Integer risus augue, dictum id dignissim eu, 
                porttitor vel odio. Donec leo libero, hendrerit in hendrerit sed, mollis vitae mi.</p>
                <p><img src="/img/map-icon.jpg" />Etiam faucibus bibendum metus et volutpat. Etiam eget tellus magna, quis fermentum mauris. 
                Vivamus fermentum pretium condimentum. Etiam sollicitudin molestie odio quis auctor.</p>
                <p><img src="/img/calendar-icon.jpg" />Proin imperdiet ullamcorper vehicula. In erat nibh, interdum ut laoreet vel, 
                condimentum id nulla. Nam porta condimentum libero nec porta. Class aptent taciti 
                sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                Proin quis ultricies ligula. Integer at nunc nibh, a sollicitudin ante. </p>
            </div>
            <div class="login-botom">
                <p> Donec ligula dolor, scelerisque sit amet dignissim non, consequat vitae orci. 
                Nullam ac ipsum vitae orci mattis tristique. Nulla sit amet lobortis erat. 
                Nunc vitae ipsum nec orci pellentesque hendrerit. Nulla sollicitudin, tortor nec 
                gravida mollis, mauris urna sollicitudin lorem, in pharetra nulla lectus sed libero. 
                Proin id magna sapien.</p>
            </div>
	</div>
    </div>
{% endblock fos_user_content %}
</div>
{% endblock %}
